<body>
    
    <form id="chat">
        <input disabled id="user" type="text" name="username" placeholder="Usuário" value="<%=author%>">
        <div class="messages"></div>
        <input id="message" type="text" name="message" placeholder="Digite sua mensagem">
        <button type="submit">Enviar</button>
    </form>
    <script type="text/javascript">
        var socket = io('http://localhost:3000');
        
        function renderMessage(msg){
            $('.messages').append('<div class="message"><strong>'+msg.author+'</strong>:'+msg.message+'</div>')
        }
        socket.on('previousMessage',function(messages){
            for(message of messages){
                renderMessage(message);
            }
        });

        socket.on('receivedMessage', function(message){
            renderMessage(message);
        });

        $('#chat').submit(function (event) {
            event.preventDefault();

            var message = $('#message').val();
            var author = $('#user').val();
            msg = {
                message,
                author
            }
            renderMessage(msg);

            socket.emit('chat message',msg);

            $('#message').val('');
            
        });
    </script>
</body>