<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <form id="chat">
        
        <label>Email:</label> <input id="mail" name="mail" type="text"/>
        <label>Senha:</label> <input id="password" name="password" type="password" />
        <button type="submit">Login</button>
        <p>
            <a href="/signup">Não possui cadastro?</a>
        </p>
        <label id='error' style="color:red"></label>
    </form>
    
    <script>
        $('#chat').submit(function (event) {
            event.preventDefault();

            var user = {
                mail: $('#mail').val(),
                password: $('#password').val()
            }

            $.ajax({
                url: 'http://localhost:3000/authenticate',
                type: 'get',
                success: function (data) {
                    $('body').html(data)

                },
                error: function (err) {
                    console.log(err)
                    var {error} = err.responseJSON;
                    $('#error').text(error);
                },
                data: user
            });
        });
    </script>
</body>

</html>