<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h1>Login</h1>
    <form id="form">
        Email: <input id="mail" name="mail" type="text" /><br />
        Senha: <input id="password" name="password" type="password" /><br />
        <button type="submit">Login</button>
    </form>
    <% if(message) { %>
        <p>
          <label style="color:Red"><%= message %></label>
        </p>
      <%}%>
    <p>
        <a href="/users/signup">Não possui cadastro?</a>
    </p>

    <script>
        $('#form').submit(function(event){
            event.preventDefault();

            var user = {
                mail: $('#mail').val(),
                password: $('#password').val()
            }

            $.ajax({
                url:'http://localhost:3000/authenticate',
                type:'post',
                dataType:'json',
                contentType: 'application/json',
                success: function(data){
                    //console.log(data)
                    
                    $.ajax({
                        url:'http://localhost:3000/chat',
                        type:'get',
                        headers:{
                            'Authorization':'Bearer '+data.token,
                            'Content-Type':'application/json'
                        },
                        success: function(dados){
                            window.location.href = 'http://localhost:3000/chat'
                        },
                    })
                },
                error: function(err){
                    console.log(err.responseJSON);
                },
                beforeSend: function (xhr) {
                    //xhr.setRequestHeader ("Authorization", "Bearer " + localStorage.getItem('token'));
                },
                data:JSON.stringify(user)
            });
        });
    </script>
</body>

</html>